.form {
    color: white;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.inputContainer, .textareaContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-right: 20px;
    margin-bottom: 30px;
    width: 50%;
}

.textareaContainer {
    width: 100%;
}

#name, #surname, #email, #date, #textarea {
    background: transparent;
    border: none;
    border-bottom: 2px solid #262d46;
    color: #c3ccdb;   
    width: 300px; 
    height: 30px;
    margin-top: 10px;
}

#textarea {
    width: 635px;
    height: 100px;
}

.validation {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI2MCIgdmlld0JveD0iMCAwIDYwIDYwIiB3aWR0aD0iNjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHN0eWxlPgogICAgICAuY2xzLTEgewogICAgICAgIGZpbGw6ICM2OTlmNGM7CiAgICAgICAgZmlsbC1ydWxlOiBldmVub2RkOwogICAgICB9CiAgICA8L3N0eWxlPjwvZGVmcz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik04MDAsNTEwYTMwLDMwLDAsMSwxLDMwLTMwQTMwLDMwLDAsMCwxLDgwMCw1MTBabS0xNi45ODYtMjMuMjM1YTMuNDg0LDMuNDg0LDAsMCwxLDAtNC45bDEuNzY2LTEuNzU2YTMuMTg1LDMuMTg1LDAsMCwxLDQuNTc0LjA1MWwzLjEyLDMuMjM3YTEuNTkyLDEuNTkyLDAsMCwwLDIuMzExLDBsMTUuOS0xNi4zOWEzLjE4NywzLjE4NywwLDAsMSw0LjYtLjAyN0w4MTcsNDY4LjcxNGEzLjQ4MiwzLjQ4MiwwLDAsMSwwLDQuODQ2bC0yMS4xMDksMjEuNDUxYTMuMTg1LDMuMTg1LDAsMCwxLTQuNTUyLjAzWiIgaWQ9ImNoZWNrIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNzcwIC00NTApIi8+PC9zdmc+') ;
}

.btnContainer {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    padding-right: 20px;
}

#postBtn {
    height: 35px;
    width: 160px;
    border: 2px solid #262d46;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#postBtn:hover {
    background: transparent;
    border: 2px solid white;
    color: white;
}